# flag de seguridad para evitar la ejecución de scripts maliciosos durante la instalación de paquetes
ignore-scripts=true

# configuración para evitar la instalación de paquetes muy nuevos que puedan llegar a estar comprometidos
minimumReleaseAge=10080 # 1 semana en minutos