html 
    head 
        meta(charset="UTF-8") 
        meta(name="viewport" content="width=device-width, initial-scale=1.0") 
        title Cimientos Sustentables e Hijos SA - Sistema de Gestión de Obras
        
    body 
        h1 Cimientos Sustentables e Hijos SA
        h3 Sistema de Gestión de Obras

        a(href="/obras") Ver obras registradas